<section *ngIf="dificulty === 1">
    <mat-icon style="color: crimson;">whatshot</mat-icon>
    <mat-icon style="color: cornflowerblue;">whatshot</mat-icon>
    <mat-icon style="color: cornflowerblue;">whatshot</mat-icon>
</section>
<section *ngIf="dificulty === 2">
    <mat-icon style="color: crimson;">whatshot</mat-icon>
    <mat-icon style="color: crimson;">whatshot</mat-icon>
    <mat-icon style="color: cornflowerblue;">whatshot</mat-icon>
</section>
<section *ngIf="dificulty === 3">
    <mat-icon style="color: crimson;">whatshot</mat-icon>
    <mat-icon style="color: crimson;">whatshot</mat-icon>
    <mat-icon style="color: crimson;">whatshot</mat-icon>
</section>