<section>
<div class="flex flex-col justify-center items-center gap-3 bg-[#6E92DA] h-52">
<h1 class="text-slate-100 text-2xl">Soporte & Contacto</h1>
<span class="flex gap-11">
    <a href="https://www.instagram.com/ferfantini.ff/" target="_blank">
        <img src="../../../../assets/icons8-instagram-48.png" alt="ig">
    </a>
    <a href="https://www.facebook.com/fernando.fantini.984/" target="_blank">
        <img src="../../../../assets/icons8-facebook-48.png" alt="fc">
    </a>
    <a href="https://www.linkedin.com/in/fernando-fantini-829163288/" target="_blank">
        <img src="../../../../assets/icons8-linkedin-48.png" alt="ln">
    </a>    
</span>
</div>
</section>

