  
<router-outlet></router-outlet>

<!-- <div class="bg-gray-100 min-h-screen font-sans">
    <header class="bg-gray-800 text-white text-center py-4">
      <h1 class="text-2xl font-bold">Mi Perfil</h1>
    </header>
  
    <section class="max-w-2xl mx-auto bg-white p-6 my-8 rounded-md shadow-md">
      <h2 class="text-2xl font-bold mb-4">Datos de Perfil</h2>
  
      <div class="flex items-center">
        <div class="w-20 h-20 rounded-full overflow-hidden mr-4">
          <img src="imagen_de_perfil.jpg" alt="Imagen de perfil" class="w-full h-full object-cover">
        </div>
        <div class="flex-1">
          <h3 class="text-xl font-semibold">Nombre de Usuario</h3>
          <p>Correo Electrónico: correoasdfasd.com</p>
          <p>Ubicación: Ciudad, País</p>
        </div>
      </div>
  
      <h2 class="text-2xl font-bold mt-6">Biografía</h2>
      <p class="mt-2 text-gray-700">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisi...</p>
    </section>
  </div> -->