<section class="flex flex-col m-4">
    <div class="flex flex-col items-center gap-4">
        <h1 class="text-2xl text-[#295FCC] font-bold">Mis Entrenamientos</h1>
        <div class="flex flex-col items-center w-4/5 p-2 bg-white border-4 border-[#295FCC] rounded">
            <h2 class="text-slate-400 text-xl">No tienes entrenamientos</h2>
            <div class="flex flex-col justify-center items-center h-96 w-full">
                <button class="px-3 py-2 rounded shadow-sm bg-[#84AEE5] text-white">Crear entrenamientos</button>
            </div>
        </div>
        <!--     <div class="grid grid-cols-4 gap-4 w-full">
            <div>card</div>
            <div>card</div>
            <div>card</div>
            <div>card</div>
            <div>card</div>
            <div>card</div>
            <div>card</div>
            <div>card</div>
        </div> -->
    </div>
</section>