<main class="flex h-screen from-[#9FC2F1] to-[#FFFFFF]"
    style="background: linear-gradient(to top, #9FC2F1 55%, #F0F7FE 45%);">
    <app-profile-nav class="w-1/4"></app-profile-nav>
    <div *ngIf="user.peso" class="flex flex-col w-3/4 m-10">
        <h1 class="text-3xl font-bold text-[#295FCC]">Progreso</h1>
        <div class="flex flex-col m-10 gap-12">
            <article class="flex flex-col gap-14 px-20">
                <section class="grid grid-cols-2 gap-20">
                    <div class="bg-white shadow-md rounded text-center p-3">
                        <h4 class="text-2xl text-[#84AEE5]">Racha de dias entrenados</h4>
                        <div class="flex w-full h-20 text-5xl text-[#295FCC] items-center justify-center">
                            <p>0</p>
                            <img src="../../../../../assets/fire-svgrepo-com 1.png" width="50px" alt="">
                        </div>
                    </div>
                    <div class="bg-white rounded">Entrenamientos por semana</div>
                </section>
                <section class="grid grid-cols-2 gap-20">
                    <div class="flex flex-col gap-2">
                        <h4 class="text-xl text-white text-center">Calendario de actividades</h4>
                        <main class="flex flex-col gap-1 bg-white p-2 rounded">
                            <div class="flex justify-between">
                                <button (click)="prevMonthFunction()" class="bg-[#295FCC] px-2 rounded text-white"><</button>
                                <h6>{{currentMonthName}} {{currentYear}}</h6>
                                <button (click)="nextMonthFunction()" class="bg-[#295FCC] px-2 rounded {{currentMonth === actualMonth?'invisible':''}} text-white">></button> 
                            </div>
                            <section class="grid grid-cols-7 text-[#295FCC]">
                                <div class="flex justify-center" *ngFor="let item of weekdays">
                                    <p>{{item}}</p>
                                </div>
                            </section>
                            <section class="grid grid-cols-7 bg-slate-200 rounded py-1">
                                <div class="flex justify-center py-1" *ngFor="let item of arrDays;  let i = index">
                                    <p class="{{item > 20 && i <= 7 || item < 7 && i > 20?'text-[#9FC2F1]':'text-black'}}">{{item}}</p>
                                </div>
                            </section>
                        </main>
                    </div>
                    <div class="flex flex-col gap-2">
                        <h4 class="text-xl text-white text-center">Meta de peso ideal</h4>
                        <div class="bg-white rounded mx-14 text-[#295FCC] text-2xl text-center py-1">De {{user.peso}}Kg
                            a {{user.pesoIdeal}}kg</div>
                    </div>
                </section>
            </article>
        </div>

    </div>
    <div *ngIf="!user.peso" class="flex w-3/4 m-10 justify-center items-center">
        <mat-spinner></mat-spinner>
    </div>
</main>