<main class="w-full flex justify-between">
    <img src="../../../../assets/Group 66.png" width="40px" alt="">
    <img src="../../../../assets/Vector (1).png" width="40px" alt="">
    <img src="../../../../assets/Vector (1).png" width="40px" alt="">
    <img src="../../../../assets/Vector (1).png" width="40px" alt="">
    <img src="../../../../assets/Vector (1).png" width="40px" alt="">
    <img src="../../../../assets/Vector (1).png" width="40px" alt="">
    <img src="../../../../assets/Vector (1).png" width="40px" alt="">
</main>