<div class="modal-overlay">
  <section class="mimodal">
    <div class="modal-header">
      <h1 class="text-lg text-[#295FCC]">Recupera tu contraseña</h1>
      <span (click)="closeModal()" class="close-btn">&times;</span>
    </div>
    <div class="modal-body">
      <p></p>
      <div class="flex flex-col justify-center gap-2">
        <p class="text-base">Enviaremos un email de verificación a tu email si coincide con una cuenta de YourBestSelf
        </p>
        <mat-form-field class="example-full-width">
          <mat-label>Email</mat-label>

          <input type="email" #email="ngModel" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}"
            class="{{ email.valid || email.untouched ? '':'border-danger'}}" [(ngModel)]="emailValue" matInput
            placeholder="Ingresa tu correo">
          <p class="text-red-900 text-xs" [hidden]="email.valid || email.untouched">Email es un campo requerido y
            debe ser un email válido</p>
        </mat-form-field>
        <button (click)="sendMailResetPassword()" [disabled]="!emailValue.length || email.errors"
          class="{{!emailValue.length || email.errors?'bg-slate-300 text-slate-400':'bg-[#DDECFC] text-[#295FCC]'}} px-3 rounded py-1">Enviar</button>
      </div>
    </div>
  </section>
</div>